/* ==== editable-form ==== */
/* class for single editable element */
.editable-wrap {
  display: inline-block;
  white-space: pre;
  margin: 0; }

/* remove bottom-margin for bootstrap */
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  margin-bottom: 0; }

/* remove bottom-margin of inputs */
.editable-wrap .editable-controls > input,
.editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
  margin-bottom: 0; }

/* keep buttons on the same line */
.editable-wrap .editable-input {
  display: inline-block; }

.editable-buttons {
  display: inline-block;
  vertical-align: top; }

.editable-buttons button {
  margin-left: 5px; }

/* in bootstrap width: 100% => buttons go outside the box */
.editable-input.editable-has-buttons {
  width: auto; }

/* ==== editable-text ==== */
/* fix padding issue on typeahead */
.editable-text {
  white-space: nowrap; }

/* ==== editable-bsdate ==== */
/* fix padding issue on bsdate popup */
.editable-bsdate {
  white-space: nowrap; }

/* ==== editable-bstime ==== */
/* fix padding issue on bstime */
.editable-bstime {
  white-space: nowrap; }

/* workaround for bootstrap that sets width: 100% and inputs become too wide */
.editable-bstime .editable-input input[type="text"] {
  width: 46px; }

/* less padding for .well */
.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px; }

/* ==== editable-range ==== */
.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center; }

/* ==== editable-color ==== */
.editable-color input[type="color"] {
  width: 50px; }

/* ==== editable-checkbox ==== */
/* ==== editable-checklist ==== */
/* ==== editable-radiolist ==== */
.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px; }

/* ==== element ==== */
/* hiding element */
.editable-hide {
  display: none !important; }

.editable-click,
a.editable-click {
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #428bca; }

.editable-click:hover,
a.editable-click:hover {
  text-decoration: none;
  color: #2a6496;
  border-bottom-color: #2a6496; }

/* editable-empty */
.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  text-decoration: none; }

/* ui-bootstrap editable popover */
.ui-popover-wrapper a {
  /* make the link always show up */
  display: inline !important; }

.ui-popover-wrapper form {
  display: none !important; }

/* editable popover */
.popover-wrapper > a {
  /* make the link always show up */
  display: inline !important; }

.popover-wrapper {
  /* make absolutely positioned children constrained to this box*/
  display: inline;
  position: relative; }

.popover-wrapper form {
  position: absolute;
  top: -53px;
  background: #FFF;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 7px;
  width: auto;
  display: inline-block;
  left: 50%;
  z-index: 101; }

.popover-wrapper form:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AAA;
  position: absolute;
  bottom: -10px; }

.popover-wrapper form:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFF;
  position: absolute;
  bottom: -9px; }

@media screen and (max-width: 750px) {
  .popover-wrapper form {
    margin-left: -60px; }

  .popover-wrapper form:before {
    left: 50px; }

  .popover-wrapper form:after {
    left: 51px; } }
@media screen and (min-width: 750px) {
  .popover-wrapper form {
    margin-left: -110px; }

  .popover-wrapper form:before {
    left: 100px; }

  .popover-wrapper form:after {
    left: 101px; } }
#app-content.content-with-sidebar {
  width: 60%; }

#emptycontent, .emptycontent {
  color: #888;
  text-align: center;
  margin-top: 30vh;
  width: 100%; }

#emptycontent [class^="icon-"], .emptycontent [class^="icon-"], #emptycontent [class*=" icon-"], .emptycontent [class*=" icon-"] {
  background-size: 64px;
  height: 64px;
  width: 64px;
  margin: 0 auto 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: .4; }

.icon-note, .icon-filetype-note {
  background-image: url("../img/app-icon.svg"); }

#emptycontent h2, .emptycontent h2 {
  margin-bottom: 10px;
  line-height: 150%; }

.listing {
  height: 40pt;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0pt;
  font-size: 100%;
  font-family: inherit;
  line-height: 40pt;
  white-space: nowrap;
  padding: 0pt 15pt;
  width: 100%; }

.listingTable {
  width: 100%; }

.listingSort {
  height: 54pt;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0pt;
  font-size: 100%;
  font-family: inherit;
  line-height: 40pt;
  white-space: nowrap;
  padding: 0pt 0pt;
  width: 100%; }
  .listingSort thead tr th:first-child, .listingSort tbody tr td:first-child {
    padding-left: 15px; }
  .listingSort tr > td {
    border-top: 1px solid #EEE; }
    .listingSort tr > td.actions {
      width: 50%; }
      .listingSort tr > td.actions .share.shared {
        width: 70px;
        line-height: 34px;
        background-position-x: 0;
        text-align: right; }
    .listingSort tr > td.info {
      width: 25%;
      padding-right: 15px; }

.listingBlank {
  height: 40pt;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0pt;
  font-size: 100%;
  font-family: inherit;
  line-height: 40pt;
  white-space: nowrap;
  padding: 0pt 0pt;
  width: 100%; }

.listing:hover {
  background-color: #EEE; }

.pointer {
  cursor: pointer; }

.file {
  font-weight: bold;
  line-height: 15px;
  width: 350px; }
  @media screen and (max-width: 1200px) {
    .file {
      width: 150px; } }
  .file .caption {
    width: 100px;
    display: inline-block; }
    @media screen and (min-width: 420px) {
      .file .caption {
        width: 180px; } }
    @media screen and (min-width: 720px) {
      .file .caption {
        width: 450px; } }
    @media screen and (min-width: 920px) {
      .file .caption {
        width: 600px; } }
    @media screen and (min-width: 994px) {
      .file .caption {
        width: 150px; } }
    @media screen and (min-width: 1600px) {
      .file .caption {
        width: 300px; } }
    .file .caption small {
      color: #959595;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block; }

.filesort {
  /*width: 60%;*/ }

.actions {
  padding-right: 15pt; }
  .actions .share-owner {
    color: #A0A0A0;
    display: inline-block;
    float: right;
    line-height: 26pt; }

@media screen and (max-width: 994px) {
  .view-container {
    width: 200%; } }
.view-container .view-left {
  float: left;
  width: 50%;
  height: calc(100vh - 45px); }
  .view-container .view-left #controls {
    display: inline; }
    .view-container .view-left #controls .view-modes {
      float: right; }
      .view-container .view-left #controls .view-modes .button:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 0; }
        .view-container .view-left #controls .view-modes .button:first-child:not(.active) {
          border-right: none; }
      .view-container .view-left #controls .view-modes .button:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 0; }
        .view-container .view-left #controls .view-modes .button:last-child:not(.active) {
          border-left: none; }
.view-container .view-right {
  float: left;
  width: 50%;
  height: calc(100vh - 45px);
  overflow: auto;
  border-left: 1px solid #c9c9c9; }
  .view-container .view-right .controls {
    padding-left: 0; }
    @media screen and (max-width: 994px) {
      .view-container .view-right .controls {
        padding-left: 35px; } }
    .view-container .view-right .controls .note-title-form .newgroupinput {
      display: none; }
    .view-container .view-right .controls .autosave {
      font-size: 16px;
      line-height: 44px;
      height: 44px;
      padding-right: 15px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.5s, opacity 0.5s linear; }
      .view-container .view-right .controls .autosave.shown {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear; }
    .view-container .view-right .controls .back {
      display: inline-block; }

.info {
  /*width: 30%;*/ }

.modified {
  display: inline-block;
  width: 100%; }

.buttons {
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  height: 26pt;
  margin-left: 15pt;
  width: 26pt; }

.app-nextnote .button {
  display: inline-block; }

.edit {
  opacity: 0.3; }
  .edit:hover {
    opacity: 1; }

.share .buttons {
  background-image: url("../../../core/img/actions/share.svg");
  opacity: 0.3; }
.share:hover > .buttons {
  opacity: 1; }

.delete {
  background-image: url("../img/delete.png");
  opacity: 0.3; }
  .delete:hover {
    opacity: 1; }

.hidden {
  display: none !important; }

.edit-note {
  background-image: url("../../../core/img/actions/rename.svg");
  opacity: 0.3; }
  .edit-note:hover {
    opacity: 1; }

.restore-note {
  background-image: url("../../../core/css/../img/actions/history.svg?v=1");
  opacity: 0.3; }
  .restore-note:hover {
    opacity: 1; }

.indent {
  margin-left: 10pt; }

.notesort {
  font-weight: normal;
  color: #A0A0A0; }
  .notesort > span {
    float: left; }

.sortarrow {
  background-repeat: no-repeat;
  background-position: center center;
  width: 20pt;
  height: 20pt;
  float: left;
  margin-top: 10pt;
  opacity: 0.3; }

.sortup {
  background-image: url("../img/triangle-n.svg"); }

.sortdown {
  background-image: url("../img/triangle-s.svg"); }

.sorttitle {
  float: left; }

.newfile, #controls .note-title-form .newgroupinput {
  display: none; }

.fileinput {
  width: 80pt;
  height: 36px;
  display: inline-block;
  color: #A0A0A0; }

.newfileinput {
  width: 80pt;
  height: 36px;
  display: inline-block; }

.latestfile {
  color: #5cb85c; }

#grouplist {
  /*z-index: 100;*/ }
  #grouplist .add-note {
    padding: 0 31px; }
    #grouplist .add-note:before {
      content: "+";
      font-size: 150%;
      font-weight: bold;
      left: 12px;
      position: absolute; }
  #grouplist > li {
    height: 44px; }

.bold {
  font-weight: bold; }

.mceNonEditable {
  padding: 10px; }

#app-navigation .active {
  font-weight: bold; }
#app-navigation .utils {
  bottom: 0;
  font-size: 12px;
  padding: 7px 7px 0 0;
  position: absolute;
  right: 0;
  top: 0; }

.action:not(.text), .icon:not(.text), [class^="icon-"]:not(.text), [class*=" icon-"]:not(.text) {
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px; }

#app-navigation li > .utils > .numnotes {
  padding-right: 10px;
  text-align: right; }
#app-navigation li > .utils > * {
  background-size: auto auto;
  float: left;
  height: 44px;
  line-height: 44px;
  width: 44px; }

[class^="icon-"], [class*=" icon-"], .action, .icon {
  background-repeat: no-repeat; }

#content li {
  cursor: default; }

#app-navigation li > .utils > *:not(.numnotes):not(.starred) {
  display: none; }
#app-navigation .utils {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0; }
#app-navigation li.active[data-type="category"] > .utils > * {
  background-color: transparent;
  display: inline-block;
  float: left; }

.oc-addnew {
  display: block !important;
  padding: 0 !important;
  display: block !important;
  padding: 0 !important; }

#app-navigation .oc-addnew input[type="text"] {
  height: 34px !important;
  margin-left: 6px;
  margin-top: 5px; }
#app-navigation input[type="text"] {
  width: 180px; }

.oc-addnew input, .oc-addnew select {
  border-bottom-right-radius: 0;
  border-right: 0 none;
  border-top-right-radius: 0;
  display: inline-block;
  float: left;
  margin: 0 0 5px; }

#app-navigation .oc-addnew .new-button {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  margin-top: 5px;
  width: 32px; }

.oc-addnew button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: inline-block;
  float: left;
  height: 34px !important;
  margin: 5px 0; }

.editing {
  display: none; }

#announcement {
  padding: 10px; }
  #announcement h1 {
    color: #1D2D44;
    font-weight: bold;
    font-style: italic;
    font-size: 12pt; }
  #announcement a {
    color: #1D2D44;
    text-decoration: underline;
    font-weight: bold; }

#announcement-dismiss {
  padding: 10px; }
  #announcement-dismiss a {
    color: #1D2D44;
    text-decoration: underline;
    font-weight: bold; }

#ownnote {
  overflow: hidden; }

#ownnote-l10n {
  display: none; }

@media screen and (max-width: 1785px) {
  #dropdown.shareDropDown {
    clear: both; } }
#dropdown.shareDropDown #shareWith {
  width: 165px; }
#dropdown.shareDropDown #shareWithList li {
  background-color: #dfdfdf; }
  #dropdown.shareDropDown #shareWithList li .unshare {
    float: right; }
  #dropdown.shareDropDown #shareWithList li .avatar {
    float: left; }
  #dropdown.shareDropDown #shareWithList li .username {
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 15px; }
    #dropdown.shareDropDown #shareWithList li .username:after {
      clear: both;
      display: table; }
  #dropdown.shareDropDown #shareWithList li .sharingOptionsGroup {
    display: block;
    line-height: 32px; }
    #dropdown.shareDropDown #shareWithList li .sharingOptionsGroup:before {
      clear: both;
      display: table;
      content: ""; }
    @media screen and (max-width: 1280px) {
      #dropdown.shareDropDown #shareWithList li .sharingOptionsGroup label {
        display: block; } }

.mce-branding {
  display: none !important; }

.mce-container .mce-window-head {
  height: 20px !important; }
  .mce-container .mce-window-head .mce-title img {
    display: none; }

.mce-floatpanel.mce-window .mce-container.mce-abs-layout-item .mce-textbox {
  padding: 0px;
  margin: 0;
  max-width: 282px; }
.mce-floatpanel.mce-window .mce-container.mce-abs-layout-item .mce-filepicker .mce-textbox {
  margin-right: 0;
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.mce-floatpanel.mce-window .mce-container.mce-abs-layout-item .mce-filepicker .mce-btn.mce-open button {
  min-height: 24px; }

.nav-trashbin {
  bottom: 0; }
  .nav-trashbin .nav-icon-trashbin {
    background-image: url(../../../apps/files/css/../img/delete.svg?v=1);
    padding-left: 44px !important;
    background-size: 16px 16px;
    background-position: 14px center;
    background-repeat: no-repeat; }

.editable-text {
  padding-left: 9px;
  width: 100%;
  padding-right: 9px; }
  .editable-text input[type="text"] {
    width: 130px !important; }

.btn {
  background-color: #fff;
  border-color: #ccc; }
  .btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204d74; }

.icon-ok {
  background-image: url("../../../core/img/actions/checkmark-white.svg?v=2"); }

.icon-remove {
  background-image: url("../../../core/img/actions/close.svg?v=2"); }

.ui-dialog.ui-widget[aria-describedby="mceNextcloudFileBrowser"] {
  z-index: 99999; }

#mceNextcloudFileBrowser {
  background-color: #fff;
  max-height: 500px !important; }
  #mceNextcloudFileBrowser #currentDir {
    margin-bottom: 5px;
    font-weight: bold;
    position: fixed;
    background-color: #fff; }
  #mceNextcloudFileBrowser #fileList {
    list-style-type: none;
    margin-top: 25px; }
    #mceNextcloudFileBrowser #fileList li {
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-y: 10px;
      line-height: 25px;
      padding-left: 30px;
      border-top: 1px solid #000;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer; }
      #mceNextcloudFileBrowser #fileList li.dir {
        background-image: url("../../../core/img/filetypes/folder.svg?v=0"); }
      #mceNextcloudFileBrowser #fileList li.file {
        background-image: url("../../../core/img/filetypes/image.svg?v=0"); }
      #mceNextcloudFileBrowser #fileList li.back {
        background-image: url("../../../core/img/filetypes/folder.svg?v=0"); }

.ui-button.ui-button-icon-only {
  min-height: auto !important; }

.view-note-container h1 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px; }
.view-note-container .noteContent, .view-note-container h1 {
  padding-left: 10pt;
  padding-right: 10pt; }

.edit-note-container .controls {
  position: static;
  left: 0 !important; }

@media only screen and (max-width: 1280px) {
  .app-nextnote {
    /* line 7, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 15, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 20, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 26, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 31, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 40, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 49, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 53, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 63, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 67, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 79, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 85, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 90, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 93, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 97, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 103, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 106, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 112, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 116, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 122, /var/www/nextcloud14/core/css/mobile.scss */
    /* line 126, /var/www/nextcloud14/core/css/mobile.scss */ }
    .app-nextnote #body-login #header {
      padding-top: 10px; }
    .app-nextnote #body-login .wrapper {
      display: flex;
      flex-direction: row;
      align-self: center;
      align-items: center; }
    .app-nextnote #update-notification {
      display: none !important; }
    .app-nextnote #dropdown {
      margin-right: 10% !important;
      width: 80% !important; }
    .app-nextnote .ui-autocomplete {
      z-index: 1000 !important; }
    .app-nextnote .error-wide {
      width: 100%;
      margin-left: 0 !important;
      box-sizing: border-box; }
    .app-nextnote #app-navigation, .app-nextnote #app-content {
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .app-nextnote #app-navigation {
      width: 250px !important; }
    .app-nextnote #app-content {
      width: 100% !important;
      left: 0 !important;
      background-color: #fff;
      overflow-x: hidden !important;
      z-index: 1000; }
    .app-nextnote #body-settings #app-content {
      overflow-x: auto !important; }
    .app-nextnote #app-navigation-toggle {
      position: fixed;
      display: inline-block !important;
      left: 0;
      width: 44px;
      height: 44px;
      z-index: 200;
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      opacity: 0.6; }
    .app-nextnote #app-navigation-toggle:hover, .app-nextnote #app-navigation-toggle:focus {
      opacity: 1; }
    .app-nextnote #app-navigation + #app-content #controls {
      padding-left: 44px; }
    .app-nextnote #body-user .app-files.viewer-mode #controls {
      padding-left: 0 !important; }
    .app-nextnote .app-files.viewer-mode #app-navigation-toggle {
      display: none !important; }
    .app-nextnote table.multiselect thead {
      left: 0 !important; }
    .app-nextnote #usersearchform {
      display: none; }
    .app-nextnote #body-settings #controls {
      min-width: 768px !important; }
    .app-nextnote #oc-dialog-filepicker-content .filelist .filesize, .app-nextnote #oc-dialog-filepicker-content .filelist .date {
      display: none; }
    .app-nextnote #oc-dialog-filepicker-content .filelist .filename {
      max-width: 80%; }
    .app-nextnote .snapjs-left #app-navigation-toggle, .app-nextnote .snapjs-left #controls {
      top: 0; }
    .app-nextnote .snapjs-left table.multiselect thead {
      top: 44px; } }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.tooltip {
  z-index: 2001 !important; }

.oc-dialog {
  z-index: 999999; }
  .oc-dialog .message {
    padding-left: 35px; }
    .oc-dialog .message li {
      list-style: disc;
      margin-left: 15px; }

.mce-tinymce.mce-fullscreen {
  margin-top: 45px; }

/*# sourceMappingURL=app.css.map */
