
<div id="ownnote">
	<div id="controls">
		<div id="new" class="button indent" ng-click="newNote()">New</div>
		<div id="newfile" class="newfile indent">
			<form id="createform" class="note-title-form">
				<input type="text" class="newfileinput" id="newfilename" value="note title" style="color: rgb(160, 160, 160);">
				<select id="groupname">
					<option value="">Not grouped</option>
					<option value="_new">New group</option>
				</select>
				<input type="text" class="newgroupinput" id="newgroupname" placeholder="group title">
				<button id="create" class="button">Create</button>
				<div id="cancel" class="button">Cancel</div>
			</form>
		</div>
	</div>

	<table class="listingSort">
		<thead>
		<tr>
			<th class="notename filesort notesort">
				<div class="pointer sorttitle" id="sortname" ng-click="list_sorting.what = 'name'; list_sorting.reverse = !list_sorting.reverse; ">Name</div>
				<div class="sortarrow" ng-show="list_sorting.what === 'name'" ng-class="{'sortup': list_sorting.reverse, 'sortdown': !list_sorting.reverse }"></div>
			</th>
			<th class="actions"></th>
			<th class="info modified notesort">
				<span class="pointer" ng-click="list_sorting.what = 'mtime'; list_sorting.reverse = !list_sorting.reverse; ">Modified</span>
				<div class="sortarrow" ng-show="list_sorting.what === 'mtime'" ng-class="{'sortup': list_sorting.reverse === true, 'sortdown': !list_sorting.reverse }"></div>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr class="listing" ng-repeat="note in localNoteList | noteGroupFilter:noteGroupFilter | filter:list_filter | orderBy:list_sorting.what:list_sorting.reverse">
			<td title="{{ note.title }}" p="undefined" class="file pointer" ng-if="hasPermission(note, 'update')" ng-click="editNote(note)">{{ note.title }}</td>
			<td title="{{ note.title }}" p="undefined" class="file pointer"  ng-if="!hasPermission(note, 'update')"  ng-click="viewNote(note)">{{ note.title }}</td>
			<td class="actions" ng-if="list_filter.deleted === 0">
				<div id="note-{{ note.id }}-sdelete" class="buttons delete-note"  ng-if="hasPermission(note, 'delete')" ng-click="deleteNote(note)">
					<span tooltip="Delete note" class="pointer buttons delete"></span>
				</div>
				<div id="note-{{ note.id }}-edit" class="buttons edit-note" ng-if="hasPermission(note, 'update')" ng-click="editNote(note)">
					<span class="pointer buttons edit" tooltip="Edit note"></span>
				</div>
				<div id="note-{{ note.id }}-share" class="share-note share pointer" ng-click="shareNote(note)">
					<a class="share" data-item-type="nextnote" data-item="{{ note.id }}" data-possible-permissions="{{ note.permissions }}" data-path="{{ note.id }}">
						<div class="buttons share shared share-note pointer" ng-if="note.shared_with.length > 0 && note.owner.uid === OC.currentUser">
							Shared
						</div>
						<div class="buttons share shared share-note pointer" ng-if="note.shared_with.length > 0 && note.owner.uid !== OC.currentUser" tooltip="Shared with you by {{ note.owner.display_name }}">
							{{ note.owner.display_name }}
						</div>
						<div id="note-{{ note.id }}" class="buttons share share-note pointer" tooltip="Share note" ng-if="note.shared_with.length === 0"></div>
					</a>
				</div>
			</td>
			<td class="actions" ng-if="list_filter.deleted === 1">
				<div id="note-{{ note.id }}-delete" class="buttons delete pointer" ng-if="hasPermission(note, 'delete')" ng-click="deleteNote(note)">
					<span tooltip="Delete note" class="delete-note"></span>
				</div>
				<div id="note-{{ note.id }}-restore"  class="buttons pointer restore-note" ng-if="hasPermission(note, 'delete')" tooltip="Restore note" ng-click="resotoreNote(note)">

				</div>
			</td>
			<td class="info">
				<div class="modified">
					<span tooltip="{{ note.mtime | date:dateFormatLong}}">{{ note.mtime  | timeAgo}}</span>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>