<div id="ownnote" class="edit-note-container">
	<div class="controls">
		<span id="newfile" class="indent">
			<span ng-if="hasPermission(noteShadowCopy, 'update')">
				Name:
				<input type="text" class="fileinput"
					   ng-model="$parent.noteShadowCopy.title">

				<select ng-model="$parent.noteShadowCopy.notebook" ng-options="group.name for group in local_notebooks track by group.id"></select>

				<input type="text" placeholder="group title"
					   ng-show="noteShadowCopy.notebook.id === '_new'"
					   ng-model="$parent.new_group">
				<div class="button" ng-click="saveNote()">Save</div>

			</span>

			<span ng-if="!hasPermission(noteShadowCopy, 'update')"
				  style="padding-right: 10px;">
				<b>{{ noteShadowCopy.title }}</b>
				You don't have permissions to edit this note
			</span>

			<div id="canceledit" class="button">Back</div>

			<div class="pull-right autosave" ng-class="{'shown': autoSaved }">
				Saved!
			</div>
		</span>
	</div>
	<textarea ui-tinymce="tinymceOptions" ng-model="noteShadowCopy.content"
			  ng-disabled="!hasPermission(noteShadowCopy, 'update')">

	</textarea>
</div>