<div id="ownnote">
	<div id="controls">
		<span id="newfile" class="indent">

			Name:
			<input type="text" class="fileinput" ng-model="noteShadowCopy.title">
			&nbsp;&nbsp;
			Group:
			<select id="groupname" ng-model="noteShadowCopy.grouping">
				<option value="">Not grouped</option>
				<option value="_new">New group</option>
				<option ng-repeat="group in note_groups" value="{{group.name}}">{{group.name}}</option>
			</select>
			<input type="text" placeholder="group title" ng-show="noteShadowCopy.grouping === '_new'" ng-model="new_group">
			<div class="button" ng-click="saveNote()">Save</div>
			<div id="canceledit" class="button" ng-click="cancelEdit()">Cancel</div>

			<div class="pull-right autosave" ng-class="{'shown': autoSaved }">
				Saved!
			</div>
		</span>
	</div>
	<div class="listingBlank"><!-- --></div>
	<textarea ui-tinymce="tinymceOptions" ng-model="noteShadowCopy.content">

	</textarea>
</div>